@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap");

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.h2-head {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
    color: #000000;
}
h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 68px;
    line-height: 80px;
    color: #000000;
}
.ed-tickettitle h2 { 
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;
text-align: center;
color: #000000;
}
p.p-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: #666666;
  font-family: "Nunito Sans", sans-serif;
  text-align: left;
}
h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: left;
    color: #000000;
}
.seeall {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 69px;
    color: #666666;
    margin-right: 20px;
}
.btn-citydrpdwn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 69px;
    color: #666666;
outline: 0;
box-shadow: none;
}
.align-right { 
display: flex;
    justify-content: flex-end;
    align-items: center;
}
btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}
h4 {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
color: #666666;
}

/* Events Slider CSS START */
#news-slider {
    margin-top: 80px;
  }
  .post-slide {
    background: #fff;
    margin: 20px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .post-slide .post-img {
    position: relative;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    margin: 0;
    margin-left: 0;
}
  .post-slide .post-img img {
    width: 100%;
    height: auto;
    transform: scale(1, 1);
    transition: transform 0.2s linear;
  }
  .post-slide:hover .post-img img {
    transform: scale(1.1, 1.1);
  }
  .post-slide .over-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(
      -45deg,
      rgba(6, 190, 244, 0.75) 0%,
      rgba(45, 112, 253, 0.6) 100%
    );
    transition: all 0.5s linear;
  }
  .post-slide:hover .over-layer {
    opacity: 1;
    text-decoration: none;
  }
  .post-slide .over-layer i {
    position: relative;
    top: 45%;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 25px;
  }
  .post-slide .post-content {
    background: #fff;
    padding: 2px 20px 40px;
    border-radius: 15px;
  }

  .post-slide .post-title a:hover {
    text-decoration: none;
    color: #000;
  }
  .post-slide .post-description {
    line-height: 24px;
    color: #808080;
    margin-bottom: 25px;
  }
  .post-slide .post-date {
    color: #a9a9a9;
    font-size: 14px;
  }
  .post-slide .post-date i {
    font-size: 20px;
    margin-right: 8px;
    color: #cfdace;
  }
  .post-slide .read-more {
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #2196f3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
  }
  .post-slide .read-more:hover {
    background: #3498db;
    text-decoration: none;
    color: #fff;
  }
  .owl-controls .owl-buttons {
    text-align: center;
    margin-top: 20px;
  }
  .owl-controls .owl-buttons .owl-prev {
    background: #fff;
    position: absolute;
    top: -13%;
    left: 15px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
  }
  .owl-controls .owl-buttons .owl-next {
    background: #fff;
    position: absolute;
    top: -13%;
    right: 15px;
    padding: 0 15px 0 18px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
  }
  .owl-controls .owl-buttons .owl-prev:after,
  .owl-controls .owl-buttons .owl-next:after {
    content: "\f104";
    font-family: FontAwesome;
    color: #333;
    font-size: 30px;
  }
  .owl-controls .owl-buttons .owl-next:after {
    content: "\f105";
  }
  @media only screen and (max-width: 1280px) {
    .post-slide .post-content {
      padding: 0px 15px 25px 15px;
    }
  }
  #events-slider .owl-nav {
    justify-content: center;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .events-carsouel-main .container-fluid {
    padding: 0;
  }
  .post-date img {
    width: 100%;
    max-width: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
   }
   .post-time img {
    width: 100%;
    max-width: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
   }
   .date-time-main {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
   }
   .post-slide .post-date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
   }
   .post-slide .post-time {
    display: flex;
    align-items: center;
    gap: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
   }
   .post-slide .post-description {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #A8A9A9;
    text-align: left;
   }
   .post-slide .post-title a {
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin: 15px 0;
    text-decoration: none;
}
.buytkt {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 2px 20px 13px;
}
.bb a.book-btn { 
background: #1FCCE8;
position: absolute;
right: 13px;
bottom: 19px;
border-radius: 20px 0 20px 0;
padding: 20px;
}
a.book-ticket {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}
.eventtime { 
  position: absolute;
    color: #000;
    top: 10px;
    right: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 20px;
}
.session { 
font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #000000;
}
.container-fluid {
  max-width: 100%;
  padding: 0 60px;
}
.banner-bg {
  background: #E6EFED;
}
html .owl-carousel .owl-dots.disabled, html .owl-carousel .owl-nav.disabled {
  justify-content: center;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Events Details page Css */
/* .event-details-right { 
  background-image: url(../images/ticket-bg.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 31px;
  height: 1006px;
} */
.ticket-main {
  display: flex;
    width: 100%;
    /* justify-content: center; */
    gap: 50px;
}
.ticket-left img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  max-width: 250px;
}
.ticket-right h4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
}
.price b {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}
.price span.amount { 
font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #5E5E5E;
    margin-left: 20px;
}
/* .top-row {
  margin-bottom: 150px;
} */
/* .bottom-row {
  margin-top: 200px;
} */
.event-details-left {
  margin-right: 50px;
}
.event-details-left img {
width: 100%;
}
.single-date { 
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #666666;
  font-family: "Nunito Sans", sans-serif;
  text-align: left;
}
.ed-title h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 80px;
  color: #000000;
}
.ed-list li { 
font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #5E5E5E;
}
.ed-date-time .post-date, .ed-date-time .post-time {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #000000;
margin-right: 20px;
}
.ed-date-time img { 
margin-right: 14px;
}
.ticket-right {
  display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 250px;
}
.buy-ticket {
  color: #fff;
  background: #1FCCE8;
  font-style: normal;
  line-height: 64px;
  width: 208px;
  height: 64px;
  flex-shrink: 0;
  text-decoration: unset;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
}
.buy-ticket-btn {
  text-align: center;
}
.ed-ticket-details .ed-ticket-data { 
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
color: #000000;
}
.ed-ticket-data img { 
margin-right: 10px;
}
.ed-ticket-details span { 
font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    color: #5E5E5E;
}
.ed-para {
  font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #5E5E5E;
}
.align-left {
  text-align: left;
}
.barcont {
  display: flex;
  gap: 65px;
  padding: 0px 0 0px 20px;
  width: 100%;
  justify-content: space-between;
  max-width: 80%;
  border-radius: 0px 0px 0px 34px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 8px 23px 0 rgb(0 0 0 / 0%), 0 7px 7px 0 rgb(0 0 0 / 13%);
}
.outerbarr {
  justify-content: flex-end;
  display: flex;
  margin: 100px 0;
}
.mt-75 {
  margin-top: 75px;
}
/* .ticket-bg { 
background-image: url(../images/ticket-bg.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 31px;
    height: 1006px;
} */

.ticket-bg {
  position: relative;
}
.ticket-bg .col-md-12  img {
  width: 100%;
}
.event-details-right {
  position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* @media screen and (max-width: 1300.98px) {
.top-row {
  margin-bottom: 70px;
}
} */

@media screen and (min-width: 1620.98px) and (max-width: 1920.98px) {
  .top-row {
    margin-bottom: 250px !important;
  }
  }
@media screen and (min-width: 1200.98px) and (max-width: 1619.98px) {
    .top-row {
      margin-bottom: 80px !important;
    }
    }
    